.vscode/
.venv/
.pytest_cache/
tests/example_creator.py
Guides/DevelopperGuide/DevelopperGuide.aux
Guides/DevelopperGuide/DevelopperGuide.fdb_latexmk
Guides/DevelopperGuide/DevelopperGuide.fls
Guides/DevelopperGuide/DevelopperGuide.log
Guides/DevelopperGuide/DevelopperGuide.out
Guides/DevelopperGuide/DevelopperGuide.synctex.gz
Guides/DevelopperGuide/DevelopperGuide.toc