.vscode/
.venv/
.pytest_cache/
tests/example_creator.py
guides/SetUpDevelopperGuide/SetUpDevelopperGuide.aux
guides/SetUpDevelopperGuide/SetUpDevelopperGuide.fdb_latexmk
guides/SetUpDevelopperGuide/SetUpDevelopperGuide.fls
guides/SetUpDevelopperGuide/SetUpDevelopperGuide.log
guides/SetUpDevelopperGuide/SetUpDevelopperGuide.out
guides/SetUpDevelopperGuide/SetUpDevelopperGuide.synctex.gz
guides/SetUpDevelopperGuide/SetUpDevelopperGuide.toc